

body{

    width: 100% ;
  height: 100vh;
  background: white
               url('C:\Users\ADMIN\Downloads\Fading balls.gif');  
}
#loader{
  width: 100% ;
  height: 100vh;
  background: white
               url('C:\Users\ADMIN\Downloads\Fading balls.gif');
  
}

#coun_box{
    box-shadow:2px 3px 3px 3px black;
margin-top: 200rem;
    height:auto;
    width: 900rem;
  position: relative;
   margin: 100rem auto;
   margin-top: 100rem;
 /*overflow: hidden;
 overflow-y: scroll;*/
 transform: color;
    text-align: center;
    background-color:rgb(155, 161, 161,0.3);
    font-size: 15rem;
    border-radius: 7px;
  color: rgb(12, 12, 12);
  opacity: 8.0;
  opacity: 5;
  
}
tr td{
    border-bottom: 1px solid rgb(7, 7, 7);
}
#flag_set {
   padding-left: 300rem;
}
#name_set{
    padding-left: 40rem;
}
#table_row{
    border-radius: 10rem;
}
#btn{
 padding-right: 700rem;
 width: 60rem;
 height: 20rem;
}
button{
  background-color: darkslategray;
  color:white
}
#search_bar{
    margin-left: 80rem;
 margin-top:20px ;
   
}
#search_bar  input{
    width: 20%;
    height: 30px;
border: 3px solid lightslategrey;

/*padding: 5px;
height: 20px;
border-radius: 5px ;*/
outline: none;
color: rgb(0, 0, 0);
font-size: 15px;
}

#first_row{
    text-align: center;
    font-size: 20px;
    color: rgb(8, 8, 8);
    background-color: rgb(241, 192, 101,0.2);
    box-shadow: 0px 0px 1px 0px black;
    border: none;
}
#view{
   
    place-items: center;
    text-align: center;
  display: inline;
    color:whitesmoke;
   
}

#gb{
   
    background-color:dimgray ;
    color: burlywood;
}
#view_part{
    text-align: center;
    color: darkolivegreen;
height: 100%;
width: 100%;
 box-shadow: rgba(235, 230, 230, 0.35) 0px 5px 15px;

text-align: center;
   
}

#note-page{
    height: 15%;
    background-color: rgba(73, 73, 222);
padding-top: 20px;
    box-shadow: 0px 0px 3.5px 2.4px black;
}

 

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: rgb(177, 139, 70);
    text-align: center;
 
}
#headbar{
  width: 200px;
  height: 38px;
  background-color: darkslategray;
  margin-left: 400px;
  position: relative;
  display: block;
  box-shadow: 2px 3px 2px black;
  color: white;
  text-align: center;
}

#flag_view img{
    box-shadow: 2px 2px 3px black;
    height: auto;
    width: 400px;
    margin-top: 70px;
    
}
#infobox{
  height:auto;
  width: 900px;
position: relative;
 margin: 100px auto;
 margin-top: 100px;

transform: color;
  text-align: center;
  box-shadow: 2px 2px 2px 2px black;
  font-size: 15px;
  font-size: 15px;
  border-radius: 7px;
opacity: 8.0;


}
#btn{
  margin-left: 0px;
}

#infobox #tel{
 margin-right: 100px;
  display: inline-block;
border-bottom: none;
  justify-content: center;
  overflow: hidden;
padding-top: 90px;
}
#infobox tr{
    margin-top: 10px;
}
:root {
  --navHeight: 70px;
}

* {
  margin: 0;
  padding: 0;
}

.switch {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch div {
  position: relative;
  display: block;
  background: #eee;
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.fa-adjust {
  transform: rotate(180deg);
}

#switch input {
  display: none;
}

.slider {
  background-color: rgb(243, 237, 237);
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
}

input:checked + .slider {
  transform: translateX(8px);
}

nav {
  background: #d2cca1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  position: relative;
}

nav ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: var(--navHeight);
  padding: 0 10px;
}

nav ul li {
  padding: 12px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 4px;
  position: relative;
}

nav ul li:hover {
  background-color: #dedaba;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  background: #e5c687;
  height: calc(100vh - var(--navHeight));
}

